<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Digit Draw</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/theme_by_Themestr.css" />
    <link rel="stylesheet" href="../static/styles.css" />

  </head>

  <body>
    <div class="header">
      <div class="nav gradient">
          <h1>
             Handwritten Digit Recognition
          </h1>
          <nav>
            <li><a href="#about">Instructions</a></li>
            <li><a href="#footer">Credits</a></li>
          </nav>
      </div>

      <div id="canvas-div">
        <canvas id="canvas" width="364" height="364"></canvas>
      </div>

      <div class="center">
          <div>
              <button type="button" class="btn gradient" id="predict">
                  Predict <i id="status"></i>
                </button>
                <button type="button" class="btn btn-default" id="clear-canvas">
                  Clear
                </button>
          </div>
      </div>

    </h1>

      <div class="row">
        <div class="mx-auto ">
          <svg id="svg-chart"></svg>
        </div>
      </div>
 
      <div id="about">
        <h2>About</h2>
        <hr>
        <p> 
            Draw a single digit (0-9) and click Predict. 
          <br>
            A Convolutional Neural Network (CNN) trained against the MNIST
              character dataset
              will classify the image. Probabilities for each classification
              label are plotted below.
          </p>
      </div>


    <footer id="footer">
      Built by <a href="https://github.com/edxz7">
        Eduardo</a>
        |
      Designed by <a href="https://github.com/AbrahamDN">
        AbrahamDN
      </a>
    </footer>


        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="../static/canvas.js"></script>
        <script src="../static/predict.js"></script>
  </body>
</html>
