@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vmin !important;
  overflow-x: hidden;
}

.header {
  height: 100vh;
}

.nav {
  padding: 20px;
  background: #C62828;
  position: relative;
  width: 100%;
  color: #fff;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
}

li {
  padding-left: 10px;
}

nav a {
  color: rgba(255, 255, 255, 0.8);
}

nav a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}



h1 {
  font-size: 5.5vmin !important;
}

.gradient {
  background: linear-gradient(90deg, #C62828, #E64A19) !important;
  color: #fff !important;
}

.btn {
  background: var(--gradient);
}

#canvas-div {
  margin-top: -10px;
}

.center {
  width: 100%;
  display: flex;
}

.center div {
  margin: auto;
  padding: 10px 0;
}


#svg-chart {
  margin-top: 0px;
}

.bar {
  fill: #F44336;
}

.bar:hover {
  fill: orangered;
}

.axis text {
  font: 20px sans-serif;
  color: #ffffff;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#about {
  padding: 10%;
  text-align: center;
  line-height: 2;
}

#about hr {
  width: 50%;
}

#about p {
  margin-top: 30px;
}


#footer {
  background-color: #000;
  padding: 3%;
  color: #5c5c5c;
  text-align: center;
}

#footer a {
  color: #C62828 !important;
}